<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.youbot.app"
     android:versionCode="1"
     android:versionName="1.0">
    <supports-screens android:resizeable="true"
        		  android:smallScreens= "true"
                  android:normalScreens="true"
                  android:largeScreens= "true"
                  android:anyDensity = "true" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application android:label="@string/app_name" 
    	android:debuggable="true" 
    	android:icon="@drawable/icon">
        <activity android:name=".YouBot"
            android:screenOrientation="portrait"
         	android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
 		<activity android:name=".BluetoothConnection"
    		android:label="@string/connect_bluetooth"
    		android:configChanges="keyboardHidden"> 
    	</activity>
     	
    	<activity android:name=".Help"
    	android:label="@string/help"
    	android:screenOrientation="portrait"
    	android:theme="@android:style/Theme.Dialog">
    	</activity>
    	
    	<activity android:name=".ControllerDrive"
    	android:label="@string/controller_normal"
    	android:screenOrientation="portrait"
    	android:configChanges="keyboardHidden">
    	</activity>
    	
    	<activity android:name=".ControllerShift"
    	android:label="@string/controller_simple"
    	android:screenOrientation="portrait"
    	android:configChanges="keyboardHidden">
    	</activity>
    	
    	<activity android:name=".ControllerAccel"
    	android:label="@string/controller_accel"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	<activity android:name=".ControllerSlider"
    	android:label="@string/controller_slider"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	 <activity android:name=".ControllerCartesian"
    	android:label="@string/controller_slider"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	<activity android:name=".ArmJointVelocity"
    	android:label="@string/manipulator"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	<activity android:name=".ArmJointPosition"
    	android:label="@string/manipulator"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	<activity android:name=".MotionProfile"
    	android:label="@string/motion_profile"
    	android:configChanges="keyboardHidden"
    	android:screenOrientation="portrait">
    	</activity>
    	
    	<activity android:name=".ArmJointPositionHelp"
    	android:label="@string/help"
    	android:screenOrientation="portrait"
    	android:theme="@android:style/Theme.Dialog">
    	</activity>
    	
    	<activity android:name=".ArmJointVelocityHelp"
    	android:label="@string/help"
    	android:screenOrientation="portrait"
    	android:theme="@android:style/Theme.Dialog">
    	</activity>
    	
    	<activity android:name=".YouBotMazeGame"
    	android:label="@string/maze"
    	android:screenOrientation="portrait"
    	android:configChanges="keyboardHidden">
    	</activity>
    	    
    	<activity android:name=".ArmPose"
    	android:label="@string/pose"
    	android:screenOrientation="portrait"
    	android:configChanges="keyboardHidden">
    	</activity>
    	    
    </application>
</manifest>